* {
     box-sizing: border-box;
     
}

.row {
     flex: 1;
     height: 480px;
     width: 50px;
     padding: 0px;
     margin: 0px;
     display: flex;
     flex-direction: column;
}

.cell {
     flex: 1;
     padding: 0px;
     margin: 0px;
}
.black{
     background-color: black;
     
}
#erase{
     background-color: white;
}

#container {
     display: flex;
     flex-direction: row;
     width: 480px;
     height: 480px;
     padding: 0px;
     margin: 0px;
     border: solid black 1px;
}