* {
     box-sizing: border-box;
}

.row {
     flex: 1;
     height: 480px;
     width: 50px;
     padding: 0px;
     margin: 0px;
     display: flex;
     flex-direction: column;
}

.cell {
     flex: 1;
     border: 1px solid black;
     padding: 0px;
     margin: 0px;
}

#container {
     display: flex;
     flex-direction: row;
     width: 480px;
     height: 480px;
     padding: 0px;
     margin: 0px;
}